<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='bootstrap-5.2.3.min.css') }}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet" />
    <link id="favicon" rel="icon" href="{{ url_for('static', path='favicon.ico') }}" type="image/x-icon" />
    <title>cRF Calculator</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "{{ tracking_id }}");
    </script>
  </head>
  <body class="container-fluid">
    <header
      class="col-md-11 col-lg-10 col-xl-9 col-xxl-8 px-3 mx-auto d-flex align-items-center justify-content-between fixed-top border-bottom bg-white">
      <div class="fs-3">
        <a href="/" class="nav-link"
          ><i class="bi bi-calculator text-success"></i
          ><span class="text-secondary d-none d-sm-inline-block">cRF Calculator</span></a
        >
      </div>
      <div class="d-flex align-items-center justify-content-between metrics">
        <div class="metric" title="calculated reaction frequency">
          <i title="cRF">cRF:</i> <span id="crf-text">0%</span>
        </div>
        <div class="metric toggle-hide" title="Matchability point"><i>Mp:</i> <span id="mp-text">0</span></div>
        <div class="metric toggle-hide" title="Favourably matched"><i>Fm:</i> <span id="fm-text">0</span></div>
        <div class="metric" title="ABO-identical donors"><i>Ad:</i> <span id="avd-text">0</span></div>
        <button class="btn metric-toggle" id="id_dp-toggle">
          <i class="bi bi-toggle2-on"><small>A</small></i>
        </button>
      </div>
    </header>
    <main class="col-md-11 col-lg-10 col-xl-9 col-xxl-8 px-3 mx-auto" style="padding-top: 50px">
      <div class="row">
        <div class="col-12 col-xxl-5">
          <div class="row py-2">
            <div class="col-2 col-sm-3">
              <span class="pe-3 text-muted">
                <i class="bi bi-droplet-half text-danger"></i>
                <span class="d-none d-xxl-inline-block small">Blood</span>
              </span>
            </div>
            <div class="col-10 col-sm-9 d-flex justify-content-between">
              {% for bg in ['A','B','O','AB'] %}
              <div class="form-check">
                <input class="form-check-input" name="abo" type="radio" id="id_{{ bg }}" value="{{ bg }}" {% if bg ==
                'A' %}checked{% endif %}/>
                <label class="form-check-label" for="id_{{ bg }}">{{ bg }}&nbsp;&nbsp;</label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-xxl-1 d-none d-xxl-block"></div>
        <div class="col-12 col-xxl-6">
          <div class="py-2 d-flex justify-content-between">
            <div class="text-muted">
              <i class="bi bi-person-standing text-info"></i>
              <span class="d-none d-xxl-inline-block small">HLA-B/DR</span>
            </div>
            {% for locus in ['B', 'B','DR', 'DR'] %}
            <div class="px-sm-1">
              <select class="form-select form-select-sm crf-bgcolor-{{ locus.lower() }} recip-hla-select">
                <option value="">{{ locus }}</option>
                {% for ag in mantigens[locus] %}
                <option value="{{ ag }}">{{ ag }}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% for locus, ags in antigens.items() %}
      <div class="row my-2 py-1 crf-locus crf-bgcolor-{{ locus.lower() }}" id="id_{{ locus }}">
        <div class="col-1 fw-bold text-muted crf-locus-name" id="id_locus-{{locus}}">{{ locus }}</div>
        <div class="col-11 row">
          {% for ag in ags %}
          <div class="col-3 col-lg-2 col-xxl-1">
            <div class="form-check">
              <input
                class="form-check-input antigen-{{ locus }} antigen-checkbox"
                name="{{ ag }}"
                type="checkbox"
                id="id_{{ ag }}"
                value="{{ ag }}" />
              <label class="form-check-label" for="id_{{ ag }}">{{ ag }}</label>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </main>
    <footer class="col-md-11 col-lg-10 col-xl-9 col-xxl-8 p-3 mx-auto my-3 border-top">
      <div>
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasInfo" class="btn">
          <i class="bi bi-info-square text-info"></i> Information
        </a>
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasHelp" class="btn">
          <i class="bi bi-question-square text-danger"></i> How To
        </a>
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasMatchCount" class="btn">
          <i class="bi bi-person-bounding-box text-success"></i> Match Counts
        </a>
      </div>
    </footer>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasInfo">
      {% include 'offcanvas-start-parts.html' %}
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasHelp">{% include 'offcanvas-end-parts.html' %}</div>
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasMatchCount">
      {% include 'offcanvas-bottom-parts.html' %}
    </div>
    <script src="{{ url_for('static', path='bootstrap-5.2.3.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='scripts.js') }}"></script>
  </body>
</html>
